
                <!-- ENGINEER -->
                <div class="card employee-card">
                    <div class="card-header row">
                        <img class= "col-md-5" src="./assets/images/profile-placeholder.png" alt="profile image">
                        
                        <div class="col-md-7">
                            <h2 class="card-title card-name">{{ name }}</h2>
                            <h3 class="card-title title"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>ID:</strong> {{ id }}</li>
                            <li class="list-group-item"><strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a></li>
                            <li class="list-group-item"><strong>GitHub:</strong> <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
                        </ul>
                    </div>
                </div>
