<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Team Directory</title>

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/c502137733.js"></script>
        <link rel="stylesheet" href="./assets/style.css">
    </head>

    <body class="container-fluid">

        <!-- HEADER -->
        <header class="row">
            <div class="col-12 jumbotron mb-3 team-heading">
                <h1 class="text-center">Team Directory</h1>
            </div>
        </header>

        <!-- TEAM ROSTER -->
        <div class="row roster">
            <div class="team-area col-12 d-flex justify-content-center">
                {{ team }}
            </div>
        </div>
        
    </body>

</html>
